<div class="fisherman-game" data-room-code="<%= @room.code %>"  data-player-id="<%= @current_player.id %>">
  <h2>Fisherman Game</h2>
  <div id="fisherman-game-container">
    <!-- Game UI will be rendered here -->
  </div>
</div>
